services:
  dualforge-editor:
    build: .
    ports:
      - "${VITE_PORT:-1001}:${VITE_PORT:-1001}"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    env_file:
      - .env